<form class="{{cssClass}}" autocomplete="off">

  <div class="sheet-wrapper">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
      <div class="cell cell--image">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
      </div>
      <div class="sheet-header__fields">
        <input class="input--title" name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
      </div>
    </header>

    {{!-- Main --}}
    <section class="sheet-main sheet-main--npc">

      {{#if (objLen system.attrTop)}}
        <section class="sheet-attributes-top">
          {{> "systems/pbta/templates/parts/sheet-attributes.html" attrs=system.attrTop group="attrTop" class="attributes-top"}}
        </section>
      {{/if}}

      {{#if (objLen system.attrLeft)}}
        <section class="sheet-attributes-left">
          <div class="cell cell--aesthetics">
            {{> "systems/pbta/templates/parts/sheet-attributes.html" attrs=system.attrLeft group="attrLeft" class="attributes-left"}}
          </div>
        </section>
      {{/if}}

      {{!-- Sheet Body --}}
      <section class="sheet-body">

        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs" data-group="primary">
          <a class="item" data-tab="description">{{localize "PBTA.Description"}}</a>
          <a class="item" data-tab="moves">{{localize "PBTA.Moves"}}</a>
          <a class="item" data-tab="equipment">{{localize "PBTA.Equipment"}}</a>
        </nav>

        <div class="sheet-tabs-content">
          {{!-- Main Tab --}}
          <div class="tab description" data-group="primary" data-tab="description">
            <div class="sheet-tab">
              <div class="cell cell--bio">
                {{!-- We're avoiding WYSIWYGs... for now... --}}
                {{editor system.details.biography target="system.details.biography" button=true owner=owner editable=editable}}
              </div>
            </div>
          </div>

          <div class="tab moves active" data-group="primary" data-tab="moves">
            <div class="sheet-tab">
              <div class="sheet-moves moves">
                {{#each moves as |moveGroup moveKey|}}
                  <div class="cell cell--moves cell--group cell--{{moveKey}}">
                    <h2 class="cell__title">
                      <label class="item-group-label">{{#if (eq moveKey "PBTA_OTHER")}}{{localize moveKey}}{{else}}{{getLabel ../moveTypes moveKey}}{{/if}}<span class="item-details-toggle"><i class="fas fa-chevron-up"></i></span></label>
                      <div class="item-controls">
                        <button type="button" class="item-control item-create" title='{{localize "PBTA.MoveCreate"}}' data-type="npcMove" data-moveType="{{moveKey}}">
                          <i class="fas fa-plus"></i>
                        </button>
                      </div>
                    </h2>
                    <ol class="items-list">
                    {{#each moveGroup as |item id|}}
                      <li class="item flexrow" data-item-id="{{item._id}}" draggable="true">
                        <h4 class="item-name">
                          <div class="item-avatar">
                            <span class="rollable move-rollable" data-roll="{{item.system.rollFormula}}">
                              {{#if item.system.rollFormula}}
                                <i class="fas fa-dice-d6"></i> <i class="fas fa-dice-d6"></i>
                              {{else}}
                                <i class="fas fa-comments"></i>
                              {{/if}}
                            </span>
                            <img class="item-icon" src="{{item.img}}" title="{{item.name}}" width="27" height="27"/>
                          </div>
                          {{#if item.system.rollFormula}}
                          <div class="item-showMove">
                            <span class="showable" data-roll="{{item.system.rollFormula}}" data-show="description">
                              <i class="fas fa-comments"></i>
                            </span>
                          </div>
                          {{/if}}
                          <span class="item-label">{{item.name}}<span class="item-details-toggle"><i class="fas fa-chevron-down"></i></span></span>
                        </h4>
                        <div class="item-meta tags">
                          {{#if (not ../../sheetSettings.hideUses)}}
                            <span class="tag tag--uses">{{localize "PBTA.Uses"}}: {{item.system.uses}}</span>
                          {{/if}}
                        </div>
                        <div class="item-controls">
                          <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                        <div class="item-description">{{{item.system.description}}}</div>
                      </li>
                    {{/each}}
                    </ol>
                  </div>
                {{/each}}
              </div>
            </div>
          </div>

          {{!-- Owned Equipment Tab --}}
          <div class="tab equipment" data-group="primary" data-tab="equipment">
              <section class="sheet-notifications" style="margin-top:10px;">
                {{#if system.isToken}}
                <div class="cell__title warning small-text">{{localize "PBTA.Warnings.UnlinkedToken.Equipment"}}</div>
                {{/if}}
              </section>

              {{#each equipment as |equipmentGroup equipmentKey|}}
                <div class="cell cell--equipment cell--group cell--{{equipmentKey}}">
                  <h2 class="cell__title">
                    <label class="item-group-label">{{#if (eq equipmentKey "PBTA_OTHER")}}{{localize equipmentKey}}{{else}}{{getLabel ../equipmentTypes equipmentKey}}{{/if}}<span class="item-details-toggle"><i class="fas fa-chevron-up"></i></span></label>
                    <div class="item-controls">
                      <button type="button" class="item-control item-create" title='{{localize "PBTA.EquipmentCreate"}}' data-type="equipment" data-equipmentType="{{equipmentKey}}">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                  </h2>
                  <ol class="items-list">
                    {{#each equipmentGroup as |item id|}}
                      <li class="item flexrow" data-item-id="{{item._id}}" draggable="true">
                          <h4 class="item-name">
                            <div class="item-avatar">
                              <span class="rollable item-rollable" data-roll=""><i class="fas fa-book"></i></span>
                              <img class="item-icon" src="{{item.img}}" title="{{item.name}}" width="27" height="27"/>
                            </div>
                            <span class="item-label">{{item.name}}<span class="item-details-toggle"><i class="fas fa-chevron-down"></i></span></span>
                          </h4>

                          <div class="item-meta tags">
                            {{#if item.system.uses }}<span class="tag">{{localize "PBTA.Uses"}}: {{item.system.uses}}</span>{{/if}}
                            {{#if item.system.quantity }}<span class="tag">{{localize "PBTA.Qty"}}: {{item.system.quantity}}</span>{{/if}}
                            {{#if item.system.weight }}<span class="tag">{{localize "PBTA.Wt"}}: {{item.system.weight}}</span>{{/if}}
                          </div>
                          <div class="item-controls">
                              <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                              <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                          </div>
                          <div class="item-description">
                            {{#if item.system.tags}}{{{pbtaTags item.system.tags}}}{{/if}}
                            <div class="description">{{{item.system.description}}}</div>
                          </div>
                      </li>
                    {{/each}}
                  </ol>
                </div>
              {{/each}}
          </div>
        </div>


      </section>

    </section>

  </div>

</form>