<h4 class="item-name">
  <div class="item-avatar">
    <span class="rollable move-rollable" data-roll="{{item.system.rollType}}" data-mod="{{item.system.rollMod}}">
      {{#if item.system.rollType}}
        <i class="fas fa-dice-d6"></i> <i class="fas fa-dice-d6"></i>
      {{else}}
        <i class="fas fa-comments"></i>
      {{/if}}
    </span>
    <img class="item-icon" src="{{item.img}}" title="{{item.name}}" width="27" height="27"/>
  </div>
  {{#if item.system.rollType}}
  <div class="item-showMove">
    <span class="showable" data-roll="{{item.system.rollType}}" data-mod="{{item.system.rollMod}}" data-show="description">
      <i class="fas fa-comments"></i>
    </span>
  </div>
  {{/if}}
  <span class="item-label">{{item.name}}<span class="item-details-toggle"><i class="fas fa-chevron-down"></i></span></span>
</h4>
{{#if item.system.rollType}}
  <div class="item-meta tags">
    {{#if (not sheetSettings.hideUses)}}
      <span class="tag tag--uses">{{localize "PBTA.Uses"}}: {{item.system.uses}}</span>
    {{/if}}
    {{#if (eq item.system.rollType 'formula')}}
      <span class="tag tag--formula">{{item.system.rollFormula}}</span>
    {{else}}
      <span class="tag tag--formula">{{getLabel statSettings item.system.rollType}}</span>
    {{/if}}
  </div>
{{/if}}
<div class="item-controls">
  <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
  <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
</div>
<div class="item-description">
  <div>{{{item.system.description}}}</div>
  {{#if item.system.moveResults}}
    {{#each item.system.moveResults as |result key|}}
      {{#if result.value}}
        <div class="result result--{{key}}">
          <strong class="result-label">{{result.label}}</strong>
          <div class="result-content">{{{result.value}}}</div>
        </div>
      {{/if}}
    {{/each}}
  {{/if}}
  {{#if item.system.choices}}
    <div class="result result--choices">
      <strong class="result-label">{{localize "PBTA.Choices"}}</strong>
      <div class="result-content">{{{item.system.choices}}}</div>
    </div>
  {{/if}}
</div>