.cell__title,
.cell__subtitle {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  flex: 100%;
  color: $c-navy;
  // color: $c-white;
  padding: $padding-sm;
  margin-bottom: 5px;
  font-weight: bold;
  font-family: $font-stack-secondary;
  border: 0;

  a,
  button {
    color: $c-black;
  }

  .item-controls {
    position: absolute;
    right: 0;
    bottom: 4px;
    width: 50px;
  }

  button {
    background: $c-white;
    color: $c-black;
    border: 1px solid $c-black;
    height: 24px;
    line-height: 1;

    &:hover,
    &:focus {
      background-color: $c-black;
      color: $c-white;
    }
  }

  &.error,
  &.warning {
    background: #d68888;
    font-size: 16px;
    font-family: $font-stack-base;
    font-weight: normal;
    justify-content: center;
    display: block;
    text-align: center;

    &::before {
      content: '\f057';
      display: inline-block;
      font-family: "Font Awesome 5 Free";
      margin-right: 5px;
      font-weight: 900;
    }

    &.small-text {
      font-size: 13px;
    }
  }

  &.warning {
    background: #e6ad54;

    &::before {
      content: "\f071";
    }
  }
}

.cell--Track .cell__title:empty {
  display: none;
}

.cell__title {
  display: flex;
  // text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.5px;
  color: $c-black;
  // overflow: hidden;
  margin: 10px 0 10px;
  padding: 5px 5px 5px 0;
  line-height: 0.9;
  height: 38px;
  font-family: $font-stack-secondary;
  position: relative;
  border-bottom: 2px solid $c-black;

  // &::before,
  // &::after {
  //   display: block;
  //   content: '';
  //   background: $ct-gray-25;
  //   height: 4px;
  // }

  // &::before {
  //   margin-right: 4px;
  //   flex: 0 0 15px;
  //   // TODO: Maybe get rid of the before.
  //   display: none;
  // }

  // &::after {
  //   margin-left: 4px;
  //   flex: 2 0 auto;
  //   min-width: 100%;
  // }
}

.cell {
  input.input--cell-title[type="text"] {
    text-align: left;
    font-family: $font-stack-secondary;
    font-weight: bold;
    font-size: 20px;
    height: auto;
    border: 0;
    border-bottom: 2px solid;
    border-radius: 0;
    background: transparent;
    margin-top: 15px;
    padding-bottom: 6px;
  }
}

.resource {
  .cell__title {
    background: $c-navy;
    color: $c-white;

    a {
      color: $c-white;
    }
  }
}

.cell__subtitle {
  background: $c-navy-up;
  color: $c-white;
}

.cell--image {
  background: rgba(0, 0, 0, 0.5);

  img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
  }
}

.cell__counter,
.cell__clock {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.cell__counter {
  > span {
    font-size: 30px;
    font-weight: bold;
    padding: 0 14px;
  }
}

.cell__clock {
  flex-wrap: wrap;
}

.cell__roll {
  display: flex;
  flex-direction: row;
  align-items: center;

  .attr-rollable {
    flex: 0 0 32px;
    cursor: pointer;
  }

  .input--roll {
    flex: 1;
  }
}

.cell__checkboxes {
  padding-left: 0;

  label.flexrow {
    align-items: center;
    justify-content: flex-start;

    .input-title {
      text-align: left;
    }
  }
}

.cell__radio {
  input[type="radio"] {
    margin-top: 2px;
    flex: 0 0 20px;
  }

  padding-left: 0;

  label.flexrow {
    align-items: center;
    justify-content: flex-start;

    .input-title {
      text-align: left;
    }
  }
}

.cell__description--attr {
  font-size: 12px;
  margin-top: -4px;
}

.cell {
  input[type="text"] {
    text-align: center;
  }

  .showable:hover, .rollable:hover {
    cursor: pointer;
  }
}

.roll-dialog {
  .cell {
    margin: $padding-sm 0;

    + .cell {
      border-top: 2px solid $ct-gray;
    }
  }
}

.cell__track {
  display: grid;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  align-items: center;
  justify-items: center;
  text-align: center;
  gap: 2px;

  > input[type=checkbox] {
    width: 14px;
    height: 14px;
    zoom: unset;
    margin-right: unset;
  }

  .attr-track-value {
    width: 24px;
    height: 24px;
    line-height: 22px;
    border: 2px solid transparent;
    border-radius: 50%;

    &[aria-checked="true"] {
      border-color: #4878a8;
    }
  }

  .cell__track__element {
    grid-row: 1;
  }

  .cell__track__label {
    grid-row: 2;
    border-top: 3px solid #4878a8;
    color: #4878a8;
    justify-self: stretch;
  }
}